/**
* This a stylesheet for D3 Linked views website
*
* Dataprocessing: D3 Linked views
*
* Jacob Jasper (10650385)
*/
.d3-tip {
  position: sticky;
  text-align: left;
  width: 250px;
  height: 60px;
  padding: 5px;
  font: 10px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.btn {
  background-color: blue;
  outline-color: black;
  outline-width: thick;
  color: white;
}

.title {
  text-align:center;
  color: red;
  text-shadow: 0 -1px black;
  font-weight: bold;
  text-decoration: underline;
}

.jumbotron {
  color: red;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-image: url("foto4.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position:bottom;
background-repeat: no-repeat;
background-size: cover;
}

.bullets {
  font-size: 20px;
}
